$mainColor_primary : #dfe7ff;


body{
    font-family: 'Merriweather', serif;
    margin: 0rem;
    margin: auto;
    padding: 0.5rem;
}

#title{
    background: linear-gradient( left, white, $mainColor_primary);
}
#main{
    display: grid;
    grid-template-columns: 15% repeat(3, 1fr) 15%;
    grid-auto-rows: minmax(125px, auto);
    grid-gap: .5rem;
}
#img-div{

}
#img-caption{

}
#tribute-info{

}
#tribute-link{

}
.card{
    grid-column: 2/ span 3;
    list-style: none;
    background-color: $mainColor_primary;
    padding: 2em;   
}
