$mainColor_primary : #dfe7ff;


body{
    font-family: 'Merriweather', serif;
    margin: 0rem;
    margin: auto;
    padding: 0.5rem;
}

#title{

}
#main{
    background-color: $mainColor_primary;
}
#img-div{

}
#img-caption{

}
#tribute-info{

}
#tribute-link{

}
